body {
	margin: 0;
}
html, body, #leaflet {
	height: 100%
}
/* Three image containers (use 25% for four, and 50% for two, etc) */
.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}
